
@model IEnumerable<ToDoListApp.Entities.Notice>
@{
    ViewBag.Title = "To Do List Application";
}
    
    <script src="~/Scripts/popup.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoticeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoticeDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NoticeId }) |
                |
                @Html.ActionLink("Delete", "Delete", new { id = item.NoticeId })
            </td>
        </tr>
    }

</table>

